body
{
    background: #B0b0b0;
}
h1
{
    color: blue;
    text-align: center;
    font-size: 40px;
    border-style: groove;
    border-color: blue;
    padding: 20px;
}
h2
{
    color: red;
    text-align: center;
    font-size: 30px;
}
img
{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
p
{
    font-size: 22px;
}